<!DOCTYPE html>
<html>
<head>
  <title>Alberich</title>
  <%= stylesheet_link_tag    "alberich/application", :media => "all" %>
  <%= javascript_include_tag "alberich/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
